html
{
    font-size: 20px;
    font-style: italic;
}
p
{
    color: red;
}
body
{
    margin: 10px;
    height: 1200px;
}

#header
{
    width: 100%;
    height: 45px;
    background-color: bisque;
    margin-bottom: 15px;
}
#posts
{
    width: 79%;
    height: 1080px;
    min-width: 500px;
    margin: auto;
    border: solid 1px red;
    background-color: white;
    float: left;
}
#store
{
    margin: auto;
    margin-top: 10px;
    height: 30%;
    width: 90%;
    background-color: blue;
    border-radius: 100px;
    transition: 0.5s;
}
#store:hover
{
    background-color: beige;
    transition: 0.5s;
}
#storedetails
{
    margin: auto;
    padding-left: 100px;
    padding-top: 50px;
}

#morestores
{
    width: 20%;
    height: 95%;
    background-color: rebeccapurple;
    float: right;
}

#reviews
{
    height: 60%;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    background-color: cadetblue;
    border-radius: 50px;
    padding-top: 25px;
}
.review
{
    margin: auto;
    width: 95%;
    margin-top: 10px;
    border: solid 2px black;
}