@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Fjalla+One&display=swap');
@keyframes append-animate {
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
html
{
    font-size: 20px;
    font-style: normal;
    font-family: 'Cabin','Fjalla One',sans-serif;
    min-width: 600px;
}
body
{
    margin: 10px;
    height: auto;
    background-color: #EEE2DC;
}

#header
{
    width: 100%;
    height: 45px;
    background-color: bisque;
    margin-bottom: 15px;
    font-weight: 900;
    
}
#posts
{
    width: 100%;
    height: 1080px;
    min-width: 500px;
    margin: auto;
    background-color: #EEE2DC;
    float: left;
}
#stores
{
    margin: auto;
    margin-top: 10px;
    height: 90%;
    width: 95%;
    background-color: #EEE2DC;
    border: 2px #edc7b7 solid;
    border-radius: 50px;
    transition: 0.5s;
}
#storedetails
{
    margin: auto;
    padding-left: 50px;
    padding-top: 50px;
}

#morestores
{
    width: 30%;
    height: 1080px;
    background-color: rebeccapurple;
    float: right;
}
#reviews
{
    height: 60%;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    background-color: cadetblue;
    border-radius: 50px;
    padding-top: 25px;
}
.review
{
    margin: auto;
    width: 95%;
    margin-top: 10px;
    border: solid 2px black;
    transition: 0.5s;
    animation: append-animate .5s linear;
}
.store
{
    width: 95%;
    margin-top: 10px;
    height: 100px;
    border: solid 2px #ac3b61;
    transition: 0.5s;
}
.store:hover
{
    background-color: #edc7b7;
    border: #123C69 solid 2px;
    transition: 0.5s;

}
.storename
{
    font-family: 'Fjalla One',sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: large;
    width: 100%;
    margin: 0px;
    height: 50%;
    flex-grow: 1;
    background-color: #EEE2DC;
    transition: 0.2s;
}
.storename:hover
{
    background-color: #Bab2B5;
    transition: 0.2s;
    
}
#nav
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
    border: solid 1px red;
    padding: auto;
}
li
{
    float: left;
    margin-left: 5px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
li a
{
    display: block;
}
#button0
{  
    background-image: url('../source/jollibee.jpg');
    background-repeat: no-repeat;
    background-size: 100% ;
    background-repeat:repeat-y;
    background-position: 0px 70%;
    opacity: 0.5;
}
#button1
{
    background-image: url('../source/mcdo.png');
    background-repeat: no-repeat;
    background-size: 100% ;
    background-repeat:repeat-y;
    background-position: 0px 70%;
    opacity: 0.5;
}
#button2
{
    background-image: url('../source/kfc.png');
    background-repeat: no-repeat;
    background-size: 100% ;
    background-repeat:repeat-y;
    background-position: 0px 70%;
    opacity: 0.5;
}
#button3
{
    background-image: url('../source/aterica.png');
    background-repeat: no-repeat;
    background-size: 100% ;
    background-repeat:repeat-y;
    background-position: 0px 70%;
    opacity: 0.5;
}
#button4
{
    background-image: url('../source/dlsu.jpg');
    background-repeat: no-repeat;
    background-size: 100% ;
    background-repeat:repeat-y;
    background-position: 0px 70%;
    opacity: 0.5;
    transition: 0.5s;
}
